<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC ".//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yitai.mapper.LogMapper">
    <select id="pageQuery" parameterType="com.yitai.dto.sys.LogPageQueryDTO"
            resultType="com.yitai.entity.Logs">
        select *
        from public_logs
        <where>
            <if test="operation !=null and operation != ''">
                and operation like concat('%',#{operation},'%')
            </if>
        </where>
        order by id desc
    </select>
    <delete id="removeBatchIds" parameterType="list">
        delete from public_logs
        where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <insert id="save" parameterType="logs">
        insert into public_logs (operation, type, ip, user, time)
        values (#{operation}, #{type}, #{ip}, #{user}, #{time} )
    </insert>
</mapper>