<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC ".//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yitai.mapper.RoleMapper">
    <insert id="assMenu">
        insert into role_menu_1(id, role_id, menu_id, create_time,
        update_time, create_user, update_user, is_del)
        values
        <foreach collection="list" separator="," item="item">
            (#{item.id},#{item.roleId},#{item.menuId},#{item.createTime},
            #{item.updateTime}, #{item.createUser}, #{item.updateUser}, #{item.isDel})
        </foreach>
    </insert>
    <update id="update" parameterType="com.yitai.entity.Role">
        update supply_chain_test.role_1
        <set>
            <if test="roleName != null">role_name = #{roleName},</if>
            <if test="roleType != null">role_type = #{roleType},</if>
            <if test="roleDesc != null">role_desc = #{roleDesc},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
        </set>
        where id = #{id}
    </update>
    <select id="pageQuery" resultType="com.yitai.entity.Role">
        select *
        from role_*
        <where>
            <if test="roleName != null and roleName != ''">
                and role_name like concat('%', #{roleName}, '%')
            </if>
            <if test="roleType != null and roleType != ''">
                and role_type like concat('%', #{roleType}, '%')
            </if>
            and is_del = 0
        </where>
        order by create_time desc
    </select>
    <select id="Query" resultType="com.yitai.entity.Role">
        select *
        from role
        <where>
            <if test="roleName != null and roleName != ''">
                and role_name like concat('%', #{roleName}, '%')
            </if>
            <if test="roleType != null and roleType != ''">
                and role_type like concat('%', #{roleType}, '%')
            </if>
            and is_del = 0
        </where>
        order by create_time desc
    </select>
</mapper>