<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC ".//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yitai.mapper.JobMapper">

    <select id="page" resultType="com.yitai.quartz.entity.SysJob">
        select *
        from supply_chain_test.sys_job_1
        <where>
            <if test="jobName != null and jobName != ''">
                and job_name like concat('%', #{jobName}, '%')
            </if>
            <if test="jobGroup != null and jobGroup != ''">
                and job_group like concat('%', #{jobGroup}, '%')
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        and is_del = 0
        </where>
    </select>
</mapper>