<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC ".//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yitai.mapper.JobMapper">
    <insert id="save">
        insert into public_sys_job (id, job_name, job_group, invoke_target, cron_expression, misfire_policy
            , concurrent, status, remark, create_user, update_user, create_time, update_time, is_del)
        values (#{sysJob.id}, #{sysJob.jobName}, #{sysJob.jobGroup}, #{sysJob.invokeTarget},
                #{sysJob.cronExpression}, #{sysJob.misfirePolicy}, #{sysJob.concurrent},
                #{sysJob.status}, #{sysJob.remark}, #{sysJob.createUser}, #{sysJob.updateUser},
                #{sysJob.createTime}, #{sysJob.updateTime}, #{sysJob.isDel});
    </insert>
    <update id="update">
        update public_sys_job
        <set>
            <if test=" sysJob.jobName != null">job_name = #{sysJob.jobName},</if>
            <if test="sysJob.jobGroup != null">job_group = #{sysJob.jobGroup},</if>
            <if test="sysJob.invokeTarget != null">invoke_target = #{sysJob.invokeTarget},</if>
            <if test="sysJob.cronExpression != null">cron_expression = #{sysJob.cronExpression},</if>
            <if test="sysJob.misfirePolicy != null">misfire_policy = #{sysJob.misfirePolicy},</if>
            <if test="sysJob.concurrent != null">concurrent = #{sysJob.concurrent},</if>
            <if test="sysJob.status != null">status = #{sysJob.status},</if>
            <if test="sysJob.remark != null">remark = #{sysJob.remark},</if>
            <if test="sysJob.updateTime != null">update_time = #{sysJob.updateTime},</if>
            <if test="sysJob.updateUser != null">update_user = #{sysJob.updateUser},</if>
        </set>
        where id = #{sysJob.id}
    </update>

    <select id="page" resultType="com.yitai.quartz.entity.SysJob">
        select *
        from supply_chain_test.public_sys_job
        <where>
            <if test="jobName != null and jobName != ''">
                and job_name like concat('%', #{jobName}, '%')
            </if>
            <if test="jobGroup != null and jobGroup != ''">
                and job_group like concat('%', #{jobGroup}, '%')
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        and is_del = 0
        </where>
    </select>
</mapper>