<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC ".//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yitai.mapper.CommodityMapper">
    <resultMap id="BaseResultMap" type="com.yitai.core.entity.Commodity">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="commodity_name" jdbcType="VARCHAR" property="commodityName"/>
        <result column="commodity_no" jdbcType="VARCHAR" property="commodityNo"/>
        <result column="category_id" jdbcType="BIGINT" property="categoryId"/>
        <result column="unit" jdbcType="VARCHAR" property="unit"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="status" jdbcType="BIGINT" property="status"/>
        <result column="is_del" jdbcType="TINYINT" property="isDel"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="create_by" jdbcType="BIGINT" property="createUser"/>
        <result column="update_by" jdbcType="BIGINT" property="updateUser"/>
    </resultMap>

    <resultMap id="FullResultMap" type="com.yitai.core.dto.CommodityDTO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="commodity_name" jdbcType="VARCHAR" property="commodityName"/>
        <result column="commodity_no" jdbcType="VARCHAR" property="commodityNo"/>
        <result column="category_id" jdbcType="BIGINT" property="categoryId"/>
        <result column="unit" jdbcType="VARCHAR" property="unit"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="status" jdbcType="BIGINT" property="status"/>
        <result column="category_name" jdbcType="VARCHAR" property="categoryName"/>
    </resultMap>
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into commodity_* (id, commodity_name, commodity_no, category_id, unit,remark,
            status,create_time,update_time,create_user,update_user,is_del)
        values (#{id}, #{commodityName}, #{commodityNo}, #{categoryId}, #{unit}, #{remark}, #{status},#{createTime}, #{updateTime},
            #{createUser}, #{updateUser}, #{isDel})
    </insert>

    <insert id="batchSave">
        insert into commodity_* (commodity_name, commodity_no, category_id, unit,remark,
        status,create_time,update_time,create_user,update_user,is_del)
        values
        <foreach collection="list" item="item" separator=",">
            ( #{item.commodityName}, #{item.commodityNo}, #{item.categoryId}, #{item.unit}, #{item.remark},
            #{item.status},#{item.createTime}, #{item.updateTime},#{item.createUser}, #{item.updateUser}, #{item.isDel})
        </foreach>
    </insert>

    <select id="list" resultMap="FullResultMap">
        select m.*,c.category_name
        from commodity_* m inner join category_* c on m.category_id = c.id
        <where>
            <if test="status != null">
                m.status == #{status} and
            </if>
            <if test="commodityName !=null and commodityName != '' ">
                m.commodity_name = #{commodityName} and
            </if>
            <if test="commodityNo != null and commodityNo != '' ">
                m.commodity_no = #{commodityNo} and
            </if>
            <if test="categoryName != null and categoryName != '' ">
                c.category_name like concat('%',#{categoryName},'%') and
            </if>
            <if test="ids != null and ids.size() > 0 ">
                m.id in
                <foreach collection="ids" item="id" separator="," open="(" close=")">
                    #{id}
                </foreach>
            and
            </if>
            c.is_del = 0 and m.is_del = 0
        </where>
        order by update_time desc
    </select>

    <update id="update" >
        update commodity_* m
        <set>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="updateBy != null">
                update_user = #{updateUser},
            </if>
            <if test="categoryId != null">
                category_id = #{categoryId},
            </if>
            update_time = now()
        </set>
        <where>
            <if test="ids != null and ids.size() > 0 and id == null ">
                m.id in
                <foreach collection="ids" item="id" separator="," open="(" close=")">
                    #{id}
                </foreach>
            </if>
            <if test="id != null">
                m.id == id
            </if>
            and m.is_del = 0
        </where>
    </update>

    <update id="removeByIds" >
        update commodity_* m set is_del = 1
        where m.id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
        and m.is_del = 0
    </update>
</mapper>